.Home {
	position: relative;
	font-family: "WildWorld";

	canvas {
		height: 100vh;
	}

	.title {
		position: absolute;
		top: 10%;
		left: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(-50%);
		font-size: 10vmin;
		font-weight: bold;
		text-align: center;
		z-index: -10;
		color: #d1271a;

		span {
			font-size: 20vmin;
		}
	}
}
